
input{
	width : 790px;
	margin-bottom: 4px;
}

b,i,h2 {
	color: red;
	font-family: inherit;
}
#name {
	font-family: initial;
	color: green;
}
h1{
	font-family: cursive;
	color: red;
	font-size: 9em;
}
table {
	margin-top: 150px;
}

body {
	background: linear-gradient(to right, #E91E63, #abdce6);
}
